body{
    font-family: 'Mulish', 'sans-serif';
}
/* Modificación de Scroll */
::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  ::-webkit-scrollbar {
    width: 7px;
    height: 9px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #9e9e9e6c;
    border-radius: 50px;
  }
  aside{
    z-index: 2;
  }
  .z-modal{
    z-index: 3;
  }